body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: rgb(214, 157, 157);
}

h1 {
    color: #661515;
}

p {
    color: #ff0000;
}
button { border-radius: 8px;
    box-shadow: 20px;
}
button :hover {
    transform: scale(1.1);
            transition: all 0.5s; }
        .button {
            background-color: rgb(255, 255, 255) ;
            border-color: white;
            color: rgb(0, 0, 0);
}
